@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 p-0 bg-black text-white;
}

main {
  @apply fade-in;
}

@font-face {
  font-family: "Paul";
  src: url("../public/fonts/PaulGroteskSoft-Regular-Trail.otf");
}
@font-face {
  font-family: "rocg";
  src: url("../public/fonts/Fontspring-DEMO-rocgroteskcomp-regular.otf");
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: #ee7605;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* animations */

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
